/* Geral ------------------------------------------ */
:root {
  font-size: 62.5%;
  /* 1rem = 10px */
  --text-color: hsla(28, 51%, 85%, 1);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: linear-gradient(68.15deg, #344e41 16.62%, #588157 85.61%);
}

/* Header -----------------------------------------*/

header {
  border-bottom: 0.4px solid rgba(255, 242, 231, 0.5);
}

.header-conteiner {
  padding: 1.4rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo-capsi,
.logo-ifpa {
  height: 5.8rem;
}

.menu-header {
  display: flex;
  gap: 3.2rem;
}

.menu-item {
  font-family: Sarala, sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
}

/* Main ----------------------------------------- */

main {
}

#title {
  margin-inline: auto;
  margin-top: 8rem;
  margin-bottom: 7rem;
  font-family: "Righteous", cursive;
  color: #ffffff;
  font-size: 3.8rem;
}

#editais-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}

#tumb-editais-main {
  width: 54rem;
}

#editais-main .text {
  max-width: 54rem;
}

.title-editais {
  font-family: Sarala;
  color: #ffffff;
  font-size: 2.4rem;
}
.summary-editais {
  font-family: sarala;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.tumb-mini-editais {
  width: 32rem;
}

.minis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.minis-editais .text {
  max-width: 32rem;
}

/* Footer ------------------------------------ */
footer {
  margin-top: 40rem;
  border-top: 0.4px solid rgba(255, 242, 231, 0.5);
}

#footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-footer {
  color: var(--text-color);
  font-family: Righteous, cursive;
  font-size: 5rem;
  margin-left: -12rem;
}

.copyright-footer {
  color: var(--text-color);
  font-family: Righteous, cursive;
  font-size: 1.2rem;
}
